<div>
  <nav class="navbar navbar-dark bg-primary" style="display: -webkit-box">
    <h1>Music App</h1>
    <div>
      <button type="button" style="margin-top: 10px; margin-left: 20px;" class="btn btn-outline-dark" routerLink="/albums" routerLinkActive="active">Albums ({{albums}})</button>
      <button type="button" style="margin-top: 10px; margin-left: 20px;" class="btn btn-outline-dark" routerLink="/artistes" routerLinkActive="active">Artistes ({{artists}})</button>
      <button type="button" style="margin-top: 10px; margin-left: 20px;" class="btn btn-outline-dark" routerLink="/catalogue" routerLinkActive="active">Catalogue</button>
    </div>
  </nav>
</div>
